DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

FAUCET_SECRET_KEY=
FAUCET_AMOUNT_XLM=10
FAUCET_COOLDOWN_SECONDS=86400
HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
